<!DOCTYPE html>
<html>
<head>
	<title>Nghe nhạc</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../vendor/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../vendor/css/music.css">
</head>
<body>
<nav class="navbar navbar-fixed-top mynav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background-color: #b366ff;">
        <span class="icon-bar" style="background-color: black;"></span>
        <span class="icon-bar" style="background-color: black;"></span>
        <span class="icon-bar" style="background-color: black;"></span>
      </button>
      <a class="navbar-brand" href="#" style="font-size: 30px;">BK.MP3</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">TOPVIEW</a></li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">PLAYLIST</a></li>
      </ul>
      <form class="navbar-form navbar-left" action="#">
 		<div class="input-group" style="margin-left: 50px;">
 			<div class="input-group-btn">
     	 		<button class="btn btn-default" type="submit">
        		<i class="glyphicon glyphicon-search"></i>
      			</button>
    		</div>
    		<input type="text" class="form-control" placeholder="Nhập tên bài hát, ca sĩ..." name="search"autocomplete="off" style="width: 200%;">
  		</div>
	  </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" onclick="document.getElementById('id02').style.display='block'"><span class="glyphicon glyphicon-user"></span> Đăng ký</a></li>
        <li><a href="#" onclick="document.getElementById('id01').style.display='block'"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
      </ul>
    </div>
  </div>
</nav><br/><br><br>

<!-- code -->
<div class="container">

  <div id="mainplayer">
    <div class="tenbaihat">
      <span style="font-size: 25px;color:#164954">Đếm Ngày Xa Em</span>&nbsp;<span style="width: 720px">- Only C  </span>
    </div>

    <div class="music col-sm-8">    
      <div id="khungplayer">
        <div class="container-audio pad-bottom-10">                
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
            <div class="colum1">
                <div class="row"></div>
            </div>
        </div>
        <div class="container-audio">
          <audio controls="" controlslist="nodownload">
            <p>Your browser does not support the audio element</p><source src="DemNgayXaEm.mp3">
          </audio>
        </div>
      </div>

      <div class="khungloibh">
          <div class="loibh">
          <span>Lời bài hát</span></div>
          <div class="noidung">
            <p>Ngọt lắm những lúc em nắm đôi tay 
              Và hứa sẽ mãi yêu chỉ anh đây 
              Từ khi em qua nơi này 
              Anh thấy vui biết mấy 
              Rồi nắng sớm mới ấm vẫn chưa vơi 
              Con tim vang tiếng ca vui cười 
              Vì em mang niềm vui tới nơi anh 
              Như người may mắn nhất trên đời 

              Nào đâu..... 
              Chẳng đc bấy lâu 
              Lại phải xa cách nhau 
              Cố nén nỗi đau khi cơn mưa ngâu vụn vỡ 
              Đêm về lại mơ 
              Sớm ra lại bơ vơ còn xa em là nhớ 


              Chỉ là đôi môi 
              Chỉ là.. 
              Vài câu yêu thương thôi mà 
              Em đã khiến anh yêu em mãi không thể phai phôi 
              Anh mong em đừng thay đổi 
              Vì anh đã quá yêu em mất rồi 
              Vì yêu em ,xa em quanh anh chỉ còn bóng tối 
              Chờ đợi ngày mai 
              Chờ... 
              Một ngày gần trong tương lai 
              Chờ... 
              Ngày 2 ta đc sánh đôi vai được bên nhau mãi mãi 
              dẫu .. 
              Anh có làm gì sai 
              Cũng sẽ không một ai có thể chia 2 ta chung bước mãi 
              trên một con đường dài..... 

              Đếm,đếm,đếm,đếm,đếm,....... 
              Anh đếm ngày xa em 
              ...... 
              Rap : 

              1,2,3,4,5,6,7 ...ngày trôi, 
              Biết em giờ có nhớ về anh hay nhớ về ai 
              Bao ngày thật là dài khi anh không có em ở bên cạnh 
              Anh cảm thấy rất giá lạnh 
              Mà làm sao cho em hiểu thấu khi mình không ở bên nhau 
              ... 
              Monday ..tuesday...wednesday...thursday...friday ...saturday...sun day.. 
              Oh week 
              Anh... chẳng thể nghĩ về ai chỉ nghĩ về em 
              Nỗi buồn thì anh không thể đếm 
              Nỗi nhớ em thì lại càng tăng thêm 
              Ngọt ngào đôi môi không thể nếm 
              Phải làm sao khi không em mỗi đêm...</p>        
          </div>
          
      </div>
    </div>

    <div class="suggest col-sm-4">
      <span>Liên quan</span>
    </div>
  </div>
</div>

<br>	
<footer class="container-fluid text-center" style="background-color: #ffccff;color: #9900e6;">
  <p>
    <br>Một sản phẩm của OCS TEAM <br>
    Địa chỉ: Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội <br>
    Điện thoại: 0355111616 <br>
    Email: ocsteambk@gmail.com <br><br>
    <a href="https://www.facebook.com/"><i class='fab fa-facebook' style='font-size:24px'></i> </a>
    <a href="https://twitter.com/"><i class='fab fa-twitter-square' style='font-size:24px'></i> </a>
    <a href="https://www.instagram.com/"><i class='fab fa-instagram' style='font-size:24px'></i> </a>
  </p>
</footer>

<div id="id01" class="modal">
  <form class="modal-content animate" action="UserForm.html" style="width: 40%;">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container1">
      <label for="uname"><b>Tài khoản: </b></label>
      <input class="edit1" type="text" placeholder="Nhập tài khoản..." name="uname" required>

      <label for="psw"><b>Mật khẩu: </b></label>
      <input class="edit1" type="password" placeholder="Nhập mật khẩu..." name="psw" required>

      <button class="edit1" type="submit" style="width: 100%; background-color: #ff66ff;">Đăng nhập</button>
    </div>
  </form>
</div>
<div id="id02" class="modal">
  <form class="modal-content animate" action="UserForm.html" style="width: 40%;">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container1">
	  <label for="name"><b>Họ và tên: </b></label>
      <input class="edit1" type="text" placeholder="Nhập họ tên..." name="name" required>

	  <label for="gender"><b>Giới tính: </b></label><br>
      <input type="radio" name="gender" value="male" checked > Male&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  	  <input type="radio" name="gender" value="female"> Female <br>

      <label for="uname"><b>Tài khoản: </b></label>
      <input class="edit1" type="text" placeholder="Nhập tài khoản..." name="uname" required>

      <label for="psw"><b>Mật khẩu: </b></label>
      <input class="edit1" type="password" placeholder="Nhập mật khẩu..." name="psw" required>

      <label for="psw1"><b>Nhập lại mật khẩu: </b></label>
      <input class="edit1" type="password" placeholder="Nhập mật khẩu..." name="psw1" required>

      <button class="edit1" type="submit" style="width: 100%; background-color: #ff66ff;">Đăng ký</button>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>